.password-item label {
    margin: .5rem;
}

.password-item-buttons .btn {
    width: 9rem;
    margin: .5rem;
}

@media screen and (max-width: 470px) {
    .password-item-buttons {
        flex-direction: column;
        align-items: center;
    }
}